.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
  background-color: red;
  padding: 10px;
  gap: 2px;
  width: 500px;
  height: 300px;
}

#display {
  grid-row: 1/2;
  background-color: blue;
  grid-column: 1/5;
}

.first {
  grid-row: 2/3;
  display: grid;
  grid-column: 1/5;
  grid-template-columns: 2fr 1fr 1fr;
}

.second {
  grid-row: 3/4;
  display: grid;
  grid-column: 1/5;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.third {
  grid-row: 4/5;
  display: grid;
  grid-column: 1/5;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.fourth {
  grid-row: 5/6;
  display: grid;
  grid-column: 1/5;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.fifth {
  grid-row: 6/7;
  display: grid;
  grid-column: 1/5;
  grid-template-columns: 2fr 1fr 1fr;
}

#equals {
  grid-column: 4/5;
  grid-row: 5 / 7;
}

#border {
  padding: 10px;
  margin: 10px;
}
